<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| -%>
<div class="entry">
	<%= image_tag(product.image_url) %>
	<h3><%=h product.title %></h3>
	<%= product.description %>
	<div class="price-line">
		<span class="price"><%= number_to_currency(product.price) %></span>
		<%= button_to 'Add to Cart' %>
	</div>
</div>
<% end %>