<!DOCTYPE html>
<html>
<head>
  <title>Depot Of Books</title>
  <%= stylesheet_link_tag    "application", "depot", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.jpg") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<a href="http://www....">Home</a><br />
			<a href="http://www....">Questions</a><br />
			<a href="http://www....">News</a><br />
			<a href="http://www....">Contact</a><br />
		</div>
		<div id="main">
			<%= yield :layout %>
		</div>
	</div>
</body>
</html>
